  <!-- Page Wrapper -->
  <div id="wrapper">

   {{> menu}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

       {{> cabezote}}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
     

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4 border-left-primary">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Editar perfil</h6>
               
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="col-md-8 mx-auto">
                     <form class="user" action="/cms/edit/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                     <input type="hidden" name="_method" value="PUT">
                            <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label class="input-group">Nombre</label>
                                <input type="text" class="form-control form-control-user" name="name" placeholder="Nombre" value="{{user.name}}">
                            </div>
                            <div class="col-sm-6">
                                <label class="input-group">Apellido</label>
                                <input type="text" class="form-control form-control-user" name="lastname" placeholder="Apellido" value="{{user.lastname}}">
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="input-group">Email</label>
                                <input type="email" class="form-control form-control-user" name="email" placeholder="Email" value="{{user.email}}">
                            </div>
                            <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <label class="input-group">Contraseña</label>
                                <input type="password" class="form-control form-control-user" name="password" placeholder="Contraseña" value="{{user.password}}">
                            </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                              Editar Pefil
                            </button> 
                            <br>     
                            {{> errors}}
                   </form>
                    </div>
                </div>
            
              </div>
            </div>

          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

  
      {{> footer}}


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

{{>logout}}
