   <!-- Page Wrapper -->
  <div id="wrapper">

   {{> menu}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

       {{> cabezote}}
 
 
 
         
                <div class="container-fluid">

                       {{> messages}}
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">TP Empleadas</h6>
                            </div>
                            <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Nombre Completo</th>
                                    <th>Email</th>
                                    <th>Teléfono</th>
                                    <th>Trabajo Práctico</th>
                                    <th>Acciones</th>
                                    </tr>
                                </thead>
                                {{#each trabajos}}
                                <tbody>
                                    <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{email}}</td>
                                    <td>{{tel}}</td>
                                    <td><a href="{{path}}" class="btn btn-success btn-block btn-sm" download>{{originalname}}</a></td>
                                    <td>
                                          <form action="/lectura/ver-tp/{{_id}}?_method=DELETE" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                             <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                          </form>
                                    </td>
                                    </tr>
                                  
                                </tbody>
                                {{/each}}
                                </table>
                            </div>
                            </div>
                        </div>

                </div>


       </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{>footer}}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

